<div class="grid-container">
    <h1 class="mat-h1">Customers</h1>
    <mat-grid-list cols="2" rowHeight="550px">
      <mat-grid-tile *ngFor="let customer of customers " [customer]="customer">
        <mat-card class="dashboard-card" style="text-align: center;">
          <mat-card-header>
            <mat-card-title>
              {{customer.firstName}} {{customer.lastName}} 
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" style="text-align: center;">
            <p> customer ID: {{customer.customerId}}</p>
            <p> City ID: {{customer.personalId}}</p>
            <p> Energytype: {{customer.firstName}}</p>
            <p> Seats: {{customer.lastName}}</p>
            <p> Productionyear: {{customer.address}}</p>
            <p> Manual transmission: {{customer.email}}</p>
            <p> Plate Number: {{customer.number}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button onClick="window.open('//localhost:5000/redirect','_self')"
              color="primary">Authorize</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>