<div class="background-wrap">
    <div class="background"></div>
  </div>
 
  <form id="accesspanel" action="">
    <h1 id="litheader">Register</h1>
    <div class="inset">
      <p>
        <input type="text" name="personalId" [(ngModel)]="personalId" id="personalId" placeholder="Personal-ID">
      </p>
      <p>
        <input type="text" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="First Name">
      </p>
      <p>
        <input type="text" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Last Name">
      </p>
      <p>
        <input type="text" name="address" [(ngModel)]="address" id="address" placeholder="Address">
      </p>
      <p>
        <input type="text" name="email" [(ngModel)]="email" id="email" placeholder="Email">
      </p>
      <p>
        <input type="text" name="number" [(ngModel)]="number" id="number" placeholder="Phone Number">
      </p>
      <p>
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password">
      </p>
    </div>
    <p class="p-container">
      <input type="submit" name="Login" id="go" value="Register" (click)="doRegister()">
    </p>
  </form>