<div class="background-wrap">
    <div class="background"></div>
  </div>
 
  <form id="accesspanel" action="">
    <h1 id="litheader">Login</h1>
    <div class="inset">
      <p>
        <input type="text" name="email" [(ngModel)]="email" id="email" placeholder="email">
      </p>
      <p>
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
      </p>
    </div>
    <p class="p-container">
      <input type="submit" name="Login" id="go" value="Login" (click)="checkLogin()">
    </p>
    <!--<p class="p-container">
        <input type="submit" name="Register" id="go" value="Register" (click)="goToRegister()">
      </p>-->
  </form>