<div class="grid-container">
  <h1 class="mat-h1">Cars</h1>
  <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-grid-list cols="2" rowHeight="750px">
      <mat-grid-tile *ngFor="let vehicle of vehicles " [vehicle]="vehicle">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{vehicle.manufacturer}} {{vehicle.vehicleName}}
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="vehicle.url" alt="Card image cap">
          <mat-card-content class="dashboard-card-content">
            <p>Energy Type: {{vehicle.energytype}}</p>
            <p>Seats: {{vehicle.seats}}</p>
            <p>Production Year: {{vehicle.productionYear}}</p>
            <p>is manual transmission: {{vehicle.isManual}}</p>
            <p>Plate Number: {{vehicle.plateNumber}}</p>
            <p>Insurance Number: {{vehicle.insuranceNumber}}</p>
            <p>Horse Power: {{vehicle.horsePower}}</p>
            <p>Cost in €: {{vehicle.cost}}</p>
            <p>Cost in $: {{vehicle.cost}}</p>
            <input type="reservationDate" name="reservationDate" id="reservationDate" [(ngModel)]="reservationDate" placeholder="Your Reservation Date"> <br>
            <input type="pickUpdate" name="pickUpDate" id="pickUpDate" [(ngModel)]="pickUpDate" placeholder="Your Pick Up Date"><br>
            <input type="dropOffDate" name="dropOffDate" id="dropOffDate" [(ngModel)]="dropOffDate" placeholder="Your Drop Off Date"><br>
            <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="Retype your email"><br>
            
          </mat-card-content>
          <mat-card-actions>
            <!--<button mat-raised-button color="primary" class="rent-button" click
              [routerLink]="['/rent-car']" [queryParams]="{vehicleId:'{{vehicle.vehicleId}}',cost:'{{vehicle.cost}}' ,reservationDate:'{{reservationDate}}' ,pickUpDate:'{{pickUpDate}}' ,dropOffDate:'{{dropOffDate}}', email:'{{email}}'}">Rent this
              car</button>-->
              <button mat-raised-button color="primary" class="rent-button" click [routerLink]="['/rent-car']" [queryParams]="{vehicleId: vehicle.vehicleId ,cost:vehicle.cost,reservationDate:reservationDate,pickUpDate:pickUpDate,dropOffDate:dropOffDate,email:email}">
                Rent this car</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>